<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment" (ionChange)="shuffleData()">
      <ion-segment-button value="primary">
        Primary
      </ion-segment-button>
      <ion-segment-button value="general">
        General
      </ion-segment-button>
    </ion-segment>
    <div style="display: flex; align-items: center; margin-left: 20px;">
      <label *ngIf="!ios" style="font-size: 20px; font-weight: bold;"><b>User_profile_id</b></label>
      <div style="width: 10px; height: 10px; background: rgb(236, 7, 84); border-radius: 50%; margin-left: 10px;"></div>
    </div>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios">
        <ion-icon slot="icon-only" name="list-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">

    <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Search" class="searchbar"></ion-searchbar>

    <ion-segment [(ngModel)]="segment" (ionChange)="shuffleData()">
      <ion-segment-button value="primary">
        Primary
      </ion-segment-button>
      <ion-segment-button value="general">
        General
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-list #scheduleList>
    <ion-item *ngFor="let post of posts" (click)="goToChat(post)">
      <div class="postHeader">
        <div class="profileCircle">
          <img [src]="post.download_url" class="postProfileImage">
        </div>
        <div class="postHeaderLabelContainer">
          <label>{{post.author}}</label>
          <label><b>Hi, How are you</b></label>
        </div>
        <ion-icon name="camera-outline"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

